<footer>
  Link to source code on <a href="https://github.com/HoleInOneStudios/samsat-quiz-app" target="_blank">GitHub</a>
  <br>
  Copyright &copy; 2022 <a href="https://github.com/HoleInOneStudios" target="_blank">HoleInOneStudios</a>
  <br>
  Created by <a href="https://github.com/HoleInOneGolfer" target="_blank">Benjamin Bowles</a>
</footer>