<%- include('header.ejs')%>
<body onload="loadQuestionDOM()">
    <script src="../js/quiz.js" defer async></script>
    <span id="SHEET_DATA" hidden><%=message%></span>

    <MAIN id="ROOT">
        <custom-QUESTION id="QUESTION"></custom-QUESTION>

        <custom-CHOICES>
            <custom-ANSWER class="button" onclick="Answer(event)" id="1"></custom-ANSWER>
            <custom-ANSWER class="button" onclick="Answer(event)" id="2"></custom-ANSWER>
            <custom-ANSWER class="button" onclick="Answer(event)" id="3"></custom-ANSWER>
            <custom-ANSWER class="button" onclick="Answer(event)" id="4"></custom-ANSWER>
        </custom-CHOICES>

        <custom-HINT>
            <custom-HINT_TOGGLE class="button" onclick="toggleHint()" id="HINT_TOGGLE">HINT!</custom-HINT_TOGGLE>
            <custom-HINT_TEXT class="hidden button" id="HINT_TEXT"></custom-HINT_TEXT>
        </custom-HINT>

        <custom-CONTROL>
            <custom-BACK class="button" id="BACK" onclick="PREV();">BACK</custom-BACK>
            <custom-NEXT class="button" id="NEXT" onclick="NEXT();">NEXT</custom-NEXT>
        </custom-CONTROL>

        <custom-RESET class="button" onclick="reset()">RESET!</custom-RESET>

        <custom-SCORE_TEXT id="SCORE_TEXT"></custom-SCORE>
    </MAIN>
</body>
</html>