<%- include('header.ejs')%>
<body onload="loadQuestionDOM()">
    <script src="../js/quiz.js" defer async></script>
    <span id="SHEET_DATA" hidden><%=message%></span>

    <MAIN id="ROOT">
        <custom-QUESTION id="QUESTION"></custom-QUESTION>

        <custom-CHOICES>
            <custom-ANSWER onclick="Answer(event)" id="1"></custom-ANSWER>
            <custom-ANSWER onclick="Answer(event)" id="2"></custom-ANSWER>
            <custom-ANSWER onclick="Answer(event)" id="3"></custom-ANSWER>
            <custom-ANSWER onclick="Answer(event)" id="4"></custom-ANSWER>
        </custom-CHOICES>

        <custom-HINT>
            <custom-TEXT id="HINT_TEXT"></custom-TEXT>
            <custom-TOGGLE id="HINT_TOGGLE"></custom-TOGGLE>
        </custom-HINT>

        <custom-CONTROL>
            <custom-NEXT id="NEXT" onclick="NEXT();">NEXT</custom-NEXT>
            <custom-BACK id="BACK" onclick="PREV();">BACK</BACK>
        </custom-CONTROL>
    </MAIN>
</body>
</html>