/* Imports */

@font-face {
    font-family: 'FW';
    src: url('../font/militeck_r.ttf');
}

/* HTML Element Styles */

html {
    margin: 0;
    padding: 0;

    text-align: center;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;

    font-family: 'FW';
}

main {
    margin: 7vh;
}

body {
    margin: 0;
}

footer {
    position: absolute;
    padding-bottom: 2vh;
    padding-top: 2vh;
    bottom: 0;
    width: 100%;

    background-color: #f5f5f5;
}

/* Custom Element Styles */

custom-QUESTION {
    font-size: 10vh;
}

custom-CHOICES {
    display: grid;

    grid-template-columns: 1fr 1fr;
}

custom-ANSWER {
    padding: 5vh !important;
    margin: 2vh !important;

    font-size: calc(100% + 3vh) !important;
}

custom-HINT {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
}

custom-HINT_TEXT {
    border: solid;
    border-radius: 1vh;

    font-size: 5vh;
    
    padding: 3vh;
    margin: 1vh;

    transition: all 0.2s ease;
}

custom-HINT_TOGGLE {

}

custom-CONTROL {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

custom-NEXT {

}

custom-BACK {

}

custom-SCORE_TEXT {
    font-size: 5vh;

    position: absolute;
    top: 2vh;
    right: 2vh;
}

custom-RESET {
    position: absolute;
    top: 2vh;
    left: 2vh;
}

/* Class Styles */

.hidden {
    opacity: 0%;
}

.button {
    border: solid;
    border-radius: 1vh;

    font-size: 5vh;

    background-color: #fff;

    padding: 3vh;
    margin: 1vh;

    transition: all .25s ease;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1vh 1vh rgba(0, 0, 0, 0.25);
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}