<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
      content="Simple quiz server application that connects to a server and reads from a spreadsheet." />
    <meta name="keywords" content="Quiz, SamSat" />
    <meta name="author" content="HoleInOneStudios, Benjamin Bowles" />

    <!--Ipad remove default browser behavior-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />

    <link rel="manifest" href="./public/manifest.json">

    <title><%= title %></title>

    <link rel=" stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preload" href="./public/fonts/SigmarOne-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
    <link rel="stylesheet" href="./public/stylesheets/style.css" type="text/css" />
    <link rel="shortcut icon" href="./public/images/icon.svg" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script>
      document.body.ontouchmove = (event) => { event.preventDefault(); };
      document.body.addEventListener("ontouchstart", (e) => { if (e.pageX > 10 && e.pageX < window.innerWidth - 10) { return; } e.preventDefault(); })
    </script>
    <script src="./public/javascripts/elements.js" defer></script>
