<%- include('header.ejs')%>

</head>

<body>
    <main id="root">
        <img src="./public/images/icon.png" alt="Quiz Server Logo" />
        <h1>Quiz List</h1>
        <% for(var i = 0 ; i < message.length ; i++) { %>
        <p>
            <a href='<%=message[i]%>'><%= message[i] %></a>
            </a>
            <% } %>
            <%- include('footer.ejs')%>

    </main>
</body>

</html>
