/* Imports */
@font-face {
    font-family: 'Sigmar One';
    src: url('../fonts/Avenir Black.ttf');
}

/* Root */
:root {
    /* ======= Style Guide Colors (PMS) ======= */
    --pms_282: #00214d;
    --pms_7672: #4c4084;
    --pms_301: #00599c;
    --pms_2905: #9ec9e3;
    --pms_7444: #b6b8dc;
    --pms_233: #c7007d;
    --pms_2995: #00a6de;
    --pms_396: #e1e000;
    --pms_1495: #ff8f1c;
    /* ======================================== */

    --background-main: var(--pms_282);
    --background-secondary: var(--pms_7672);

    --text-color: var(--pms_7444);
    --link-color: var(--pms_2905);

    --unselected-answer-color: var(--pms_7672);

    --correct-color: rgb(22, 103, 53);
    --incorrect-color: rgb(103, 22, 22);
}

.text_233 {
    color: var(--pms_233);
}

.text_2995 {
    color: var(--pms_2995);
}

.text_396 {
    color: var(--pms_396);
}

.text_1495 {
    color: var(--pms_1495);
}

/* HTML Element Styles */

a {
    color: var(--link-color);
}

html {
    margin: 0;
    padding: 0;

    text-align: center;
    font-family: 'Sigmar One';

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: var(--text-color);
    background-color: var(--background-main);
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    width: 100vw;

    background-size: cover;
}

footer {
    justify-content: center;
    align-items: center;
}

quiz-logo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 9;
}

quiz-logo img {
    width: 20%;
}

quiz-audio-toggle {
    position: fixed;
    top: 0;
    right: 0;

    z-index: 10;

}

quiz-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    padding: 2vw;

    background-color: var(--background-secondary);
    border-radius: 0 0 5vh 0;

    font-size: 3vh;
}

quiz-start,
quiz-main,
quiz-finish {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

quiz-title {
    font-size: 10vh;
    margin-bottom: 2vh;
}

quiz-question {
    font-size: 5vh;
    margin-bottom: 2vh;

    width: 75%;
}

quiz-answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vh;

    width: auto;


    justify-content: center;
    align-items: center;
}

quiz-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    right: 0;
}

quiz-nav * {
    margin: 1vh;
    padding: 3vh;

    font-size: 5vh;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    border: 1px solid var(--text-color);
    border-radius: 1vh;
}

quiz-hint {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

quiz-hint-toggle * {
    font-size: 5vh;
    margin: 1vh;
    width: 15vh;

    z-index: 1;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    border: 1px solid var(--text-color);
    border-radius: 1vh;
}

quiz-hint-text {
    font-size: 3vh;
    margin: 1vh;
    padding: 1vh;

    border: 1px solid var(--text-color);
    border-radius: 1vh;
}

quiz-results {
    font-size: 4vh;
    margin-bottom: 2vh;
}

.button {
    border: solid;
    border-radius: 1rem;
    padding: 2vw;
    font-size: 4vh;

    width: auto;


    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.hidden {
    display: none;
}

.correct {
    background-color: var(--correct-color);
}

.incorrect {
    background-color: var(--incorrect-color);
}